In [3]:
#Q1################   FINDING FACTORIAL OF A NUMBER

number = input('Please input the number:')

if number.isnumeric():
    num = int(number)
    if num == 0:
        print('factorial of 0 is 1')
    else:
        factorial = 1
        for i in range(1, num + 1):
            factorial = factorial * i
        print(number + '! =', str(factorial))

else:
    print('Not an integer number')

Please input the number:4
4! = 24

In [18]:
# Q2 ###############################   
# (a) #

import pandas as pd
data = pd.read_csv(r"C:/Data/height_weight.csv")
#print(data)


print(data['gender'])

print(data[data.gender == 'F'] )# this is all the rows that have gender F

0      M
1      F
2      M
3      F
4      F
      ..
283    M
284    M
285    M
286    M
287    F
Name: gender, Length: 288, dtype: object
      id gender  height  weight  siblings
1    278      F     162      44         2
3    225      F     154      40         1
4    322      F     154      37         1
5    139      F     167      50         1
6    243      F     166      40         1
..   ...    ...     ...     ...       ...
277  275      F     168      49         2
278  155      F     152      60         2
280  360      F     169      56         2
282  270      F     158      44         1
287  232      F     161      48         1

[161 rows x 5 columns]

In [19]:
# (b)# 
print(len(data[data.gender == 'F']) )# count how many rows that have gender F

161

In [20]:

# (c)# 
print(data[data.height >183] ) # all the rows that have height >183

      id gender  height  weight  siblings
2    160      M     185      75         1
203  285      M     184      67         3
208  367      M     186      65         3

In [21]:
# (d) #

data_test = pd.read_csv(r"C:/Data/test.csv")
print(data_test)

      id  test
0    330    62
1    278    79
2    160    62
3    225    44
4    322    75
..   ...   ...
283  310    83
284  364    55
285  130    59
286  300    68
287  232    77

[288 rows x 2 columns]

In [22]:
# (e) #

#create the variable grade:

grade = range(len(data))
grade = list(grade)
#print(grade)
for i in range(len(data)):
    if data_test.test[i]>=80:
        i = int(i)
        grade[i] = 'A'
    elif (data_test.test[i]>=70) & (data_test.test[i]<80):
        i = int(i)
        grade[i] = 'B'
    elif (data_test.test[i]>=60) & (data_test.test[i]<70):
        i = int(i)
        grade[i] = 'C'
    elif (data_test.test[i]>=50) & (data_test.test[i]<60):
        i = int(i)
        grade[i] = 'D'
    else:
        i = int(i)
        grade[i] = 'F'

In [14]:
print(grade)

['C', 'B', 'C', 'F', 'B', 'C', 'B', 'F', 'B', 'A', 'C', 'A', 'A', 'A', 'B', 'A', 'B', 'D', 'A', 'D', 'C', 'A', 'A', 'A', 'A', 'D', 'C', 'B', 'B', 'F', 'C', 'D', 'A', 'B', 'C', 'C', 'C', 'F', 'A', 'B', 'B', 'B', 'A', 'D', 'C', 'B', 'C', 'A', 'F', 'C', 'A', 'F', 'A', 'B', 'B', 'B', 'A', 'A', 'F', 'B', 'B', 'C', 'C', 'A', 'A', 'C', 'A', 'C', 'B', 'D', 'C', 'C', 'D', 'F', 'B', 'B', 'D', 'D', 'F', 'C', 'C', 'A', 'A', 'B', 'A', 'C', 'C', 'B', 'D', 'C', 'C', 'B', 'D', 'D', 'C', 'A', 'B', 'F', 'C', 'B', 'C', 'B', 'B', 'D', 'F', 'F', 'D', 'C', 'F', 'C', 'B', 'B', 'A', 'A', 'D', 'B', 'C', 'A', 'F', 'A', 'D', 'A', 'D', 'A', 'D', 'B', 'D', 'A', 'A', 'D', 'A', 'F', 'C', 'C', 'D', 'C', 'C', 'A', 'F', 'F', 'A', 'B', 'F', 'B', 'A', 'C', 'B', 'C', 'B', 'F', 'C', 'A', 'F', 'B', 'C', 'B', 'A', 'F', 'D', 'B', 'D', 'A', 'D', 'A', 'A', 'C', 'D', 'F', 'C', 'A', 'D', 'C', 'D', 'B', 'A', 'A', 'F', 'C', 'A', 'A', 'A', 'A', 'C', 'F', 'A', 'B', 'C', 'B', 'C', 'D', 'F', 'D', 'B', 'A', 'F', 'A', 'B', 'B', 'C', 'D', 'C', 'F', 'B', 'D', 'B', 'B', 'B', 'F', 'A', 'A', 'B', 'C', 'C', 'C', 'A', 'C', 'F', 'B', 'B', 'B', 'B', 'B', 'A', 'A', 'D', 'B', 'A', 'D', 'B', 'A', 'B', 'B', 'C', 'F', 'D', 'C', 'C', 'F', 'F', 'A', 'A', 'B', 'B', 'C', 'F', 'A', 'F', 'C', 'C', 'B', 'F', 'C', 'F', 'F', 'B', 'B', 'A', 'A', 'C', 'B', 'A', 'D', 'B', 'A', 'A', 'D', 'B', 'C', 'A', 'C', 'D', 'C', 'F', 'B', 'D', 'C', 'A', 'B', 'B', 'D', 'A', 'B', 'B', 'A', 'D', 'D', 'C', 'B']

In [23]:
# (f) #
#create a dataframe of grade:
grade = pd.DataFrame(grade, columns = ['grade'])

#merge test and  grade:
data_test = pd.concat([data_test, grade], axis=1)

print(data_test)

      id  test grade
0    330    62     C
1    278    79     B
2    160    62     C
3    225    44     F
4    322    75     B
..   ...   ...   ...
283  310    83     A
284  364    55     D
285  130    59     D
286  300    68     C
287  232    77     B

[288 rows x 3 columns]

In [24]:
#merge the initial data and the data of test & grade:

data_new = pd.merge(data,data_test, on = 'id')

print(data_new)

      id gender  height  weight  siblings  test grade
0    330      M     164      63         3    62     C
1    278      F     162      44         2    79     B
2    160      M     185      75         1    62     C
3    225      F     154      40         1    44     F
4    322      F     154      37         1    75     B
..   ...    ...     ...     ...       ...   ...   ...
283  310      M     178      74         2    83     A
284  364      M     162      73         2    55     D
285  130      M     171      66         0    59     D
286  300      M     163      56         3    68     C
287  232      F     161      48         1    77     B

[288 rows x 7 columns]

In [ ]:
########  save 'data_new' to a new csv file named as 'out' in the directory "C:/Data/"
#(save the data of all 7 variables)
data_new.to_csv("C:/Data/height_weight_test.csv")


# try to read the file just saved to see if it was saved correctly:

y = pd.read_csv("C:/Data/height_weight_test.csv")
print(y)